.wrapper {
  background: #fff;
  color: #fff;

  .persona {
    z-index: 10;
    display: flex;
    max-width: 1300px;
    height: 598px;
    border-radius: 0 40px 40px 40px;
    background: url('~assets/images/persona_bg.png') no-repeat;

    p {
      letter-spacing: 1px;
      font-weight: 400;
      line-height: 28px;
    }

    .left {
      display: flex;
      align-items: center;
      flex: 0 0 217px;
      flex-direction: column;
      padding-top: 150px;
      padding-left: 127px;

      .name {
        padding-top: 39px;
        padding-bottom: 8px;
        letter-spacing: 2px;
        font-weight: 700;
      }

      .title {
        text-align: center;
        white-space: nowrap;
        letter-spacing: 2px;
        font-weight: 100;
        font-style: italic;
        font-size: 16px;
        line-height: 16px;
      }
    }

    .right {
      display: flex;
      align-items: center;
      flex: 1 1;
      flex-direction: column;
      padding: 83px 0;

      img {
        margin-bottom: 13px;
        width: 90px;
        height: 90px;
      }

      p {
        width: 734px;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 22px;
        line-height: 48px;
      }

      span {
        color: #ffbc58;
      }
    }
  }

  .bg {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 299px;
    border-radius: 0 0  40px 0;
    background: #26c6d0;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    .persona {
      flex-direction: column;
      border-radius: 40px;

      .left {
        padding: 20px;
        padding-top: 50px;

        .name {
          padding-top: 10px;
        }
      }

      .right {
        padding: 20px;

        img {
          display: none;
        }

        p {
          width: initial;
          text-align: center;
          letter-spacing: 2px;
          font-size: 12px;
          line-height: 1.6;
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .wrapper {
    .persona {
      flex-direction: column;
      border-radius: 40px;

      .left {
        padding: 20px;
      }

      .right {
        padding: 20px;

        img {
          display: none;
        }

        p {
          width: 100%;
          text-align: center;
          letter-spacing: 2px;
          font-size: 18px;
          line-height: 1.6;
        }
      }
    }
  }
}
