@import 'assets/styles/mixins';

.outer {
  :global {
    .core-uikit-button {
      box-sizing: border-box;
      min-width: 38px;
      border-radius: 0;

      & + .core-uikit-button {
        border-left: none;
      }
    }
  }

  button:first-child {
    border-radius: 3px 0 0 3px;
  }

  button:last-child {
    border-radius: 0 3px 3px 0;
  }
}
